/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Arimo',sans-serif;
    margin: 0;
    letter-spacing: 1px;
}
#backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f2f2f2;
    z-index: -1;
}
h1,p {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.separator {
    padding: 1px 0 0 0;
    background-color: lightgray;
}

button {
    outline: none;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.profile-pic-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic-icon img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    /* font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

div, a, form, li, ul, input, label, button {
    box-sizing: border-box;
}

.fa-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(251, 253, 255, 0.8);
    z-index: 10;
}