.comment-chain {
    display: flex;
    flex-direction: column;
}
.comment-chain ul {
    margin-left: 28px;
}
.comment-container {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}
.comment-container .profile-pic-icon{
    font-size: 20px;
}
.comment-details {
    font-size: 13px;
}

.comment-content-container {
    padding: 6px;
    padding-right: 10px;
    background-color: #f2f2f2;
    border-radius: 6px;
}

.comment-like-reply {
    display: flex;
    flex-direction: row;
    padding-left: 6px;
    font-size: 11px;
}
.show-reply {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.show-reply, .hide-reply{
    font-size: 13px;
}
.show-reply:hover p, .hide-reply:hover, .comment-container a:hover{
    cursor: pointer;
    text-decoration: underline;
}