.comment-chain {
    display: flex;
    flex-direction: column;
}
.comment-chain .sub-comments-container {
    margin-left: 28px;
}
.comment-container {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}
.comment-container .profile-pic-icon{
    font-size: 20px;
}
.comment-details {
    font-size: 13px;
}

.comment-content-container {
    padding: 6px;
    padding-right: 10px;
    background-color: #f2f2f2;
    border-radius: 6px;
    position: relative;
}
.comment-content {
    overflow-wrap: break-word;
    max-width: 450px;
}

.comment-like-reply {
    display: flex;
    flex-direction: row;
    padding-left: 6px;
    font-size: 11px;
    font-weight: 600;
}
.show-reply {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.show-reply, .hide-reply{
    font-size: 13px;
}
.show-reply:hover p, .hide-reply:hover, .comment-container a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.comment-main {
    display: flex;
    flex-direction: row;
}

.comment-main .meatball {
    align-self: center;
    opacity: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 25px;
}
.comment-container:hover .meatball {
    opacity: 100;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-container:hover .meatball:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.comment-dropdown-container {
    position: relative;
    align-self: center;
    margin-left: 25px;
    z-index: 12;
}

.comment-options {
    position: absolute;
    height: 60px;
    width: 300px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    z-index: 500;
}
.comment-options.non-commenter {
    height: 40px;
}

.comment-options ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.comment-options li {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
}

.comment-options li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.comment-options li p {
    font-size: 14px;
    font-weight: 600;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
}
.comment-dropdown-carrot {
    position: absolute;
    top:-2px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 501;
}

.sub-comments-container .comment-input-container .profile-pic-icon{
    font-size: 20px;
}

.comment-reply:hover, .comment-like:hover {
    cursor: pointer;
}

.comment-like-icon {
    display: flex;
    font-size: 12px;
    position: absolute;
    right: -25px;
    bottom: 5px;
    min-width: 20px;
    padding: 3px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 6px;
}

.comment-is-liked {
    color: #1877f2;
}