.search-container {
    position: relative;
    width: 240px;
    border: none;
}
.search-container input {
    border-radius: 60px;
    height: 40px;
    width: 100%;
    outline: none;
    text-indent: 28px;
    font-size: 15px;
    transition: text-indent 0.2s
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    transition: left 0.2s, opacity 0.2s;
}
.search-container input:focus {
    text-indent: 17px;
}

.search-container input:focus ~ .search-icon {
    left: 1px;
    opacity: 0;
}