.small-logo {
    width: 40px;
    height: 40px;
}

.settings-dropdown {
    position: relative;
}

.small-logo:hover, [class^="drop-"]:hover {
    cursor: pointer;
}
div[class^="drop-"] {
    font-size: 17px;
    background-color:hsl(0, 0%, 91%);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
[class^="drop-"] {
    /* transition: background-color 0.2s; */
    transition: filter 0.5s;
}

[class^="drop-"]:hover {
    /* background-color: #d9d9d9; */
    filter: brightness(85%)
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
    background-color: white;
    height: 55px;
    align-items: center;
    border: 1px solid #e6e6e6;
}

.side-nav, .search-nav {
    display: flex;
    flex-direction: row;
    padding: 3px;
}
.search-nav {
    justify-content: center;
    align-items: center;
}

.side-nav {
    width: 280px;
}

.dropdown-list {
    position: absolute;
    top: 49px;
    right: 25px;
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
}

.dropdown-list  h1 {
    font-size: 24px;
}

.dropdown-list .separator {
    width: 90%;
    align-self: center;
}

.dropdown-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    transition: background-color 0.5s;
}

.dropdown-list li:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

.dropdown-list .fa-angle-right {
    font-size: 25px;
}

/* [class^="drop-icon"] .fa-cog,
[class^="drop-icon"] .fa-question-circle,
[class^="drop-icon"] .fa-moon,
[class^="drop-icon"] .fa-door-open {
    font-size: 20px;
} */
.label-dropdown {
    width: 80%;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
}

.small-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}