.post-container, .post-header, .post-technicals {
    display: flex;
}

.post-container{
    flex-direction: column;
    background-color: white;
    filter: brightness(99%);
    border-radius: 10px;
    padding: 10px 13px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.post-header {
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
}
.post-header a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-technicals {
    flex-direction: column;
    padding-left: 9px;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.post-user-content {
    display: flex;
    flex-direction: row;
}

.post-user {
    font-size: 14px;
    font-weight: 650;
}
.post-time {
    font-size: 10px;
}

.like-comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
}

.like-comment .like, .like-comment .comment {
    display: flex;
    flex-direction: row;
    width:50%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 6px;
    user-select: none;
}

.like-comment .like:hover, .like-comment .comment:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.liked {
    color: #1877f2;
}

.like-icon.just-liked {
    animation: rotation 2s ease alternate;
}

@keyframes rotation {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: rotate(-75deg) scale(1.2,1.2);
    }
    100% {
        transform: rotate(0deg) scale(1,1);
    }
}

.post-header .meatball {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.post-header .meatball:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.post-header .post-options{
    position: absolute;
    right: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    display:flex;
    flex-direction: column;
    padding: 9px;
    z-index: 10;
    width: 170px;
}

.post-header .post-options ul li {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    padding-left: 5px;
    border-radius: 6px;
}

.post-header .post-options ul li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.post-container .comment-input-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
}
.comment-input-container .profile-pic-icon {
    font-size: 25px;
}
.comment-input-container form {
    width: 100%;
}
.comment-input-container .comment-input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 6px;
    margin-left: 6px;
    text-indent: 8px;
    font-size: 14px;
}

.comment-input-container .comment-input:focus::-webkit-input-placeholder {
    color: #bfbfbf;
} 

.show-comments:hover {
    cursor: pointer;
}

.post-photo {
    width: 100%;
}

.post-interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 0;
}

.total-comments {
    border-bottom: 1px solid transparent;
}

.total-comments:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}