.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.profile-page-header {
    height: 500px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
}

.profile-page-pfp {
    position: absolute;
    top: 280px;
    transform: translate(-50%, -50%);
}
.profile-page-pfp img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 5px solid white;
}
.profile-page-header h1 {
    margin: 40px 0 20px;
    position: relative;
}

.profile-page-header .separator {
    width: 870px;
}

.profile-page-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 870px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.profile-page-nav li {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    background-color: white;
    margin: 3px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.profile-page-nav li:hover {
    background-color: #f2f2f2;  
    cursor: pointer;
}

.profile-page-body {
    display: flex;
    flex-direction: row;
    width: 870px;
    align-self: center;
}

h1 button {
    position: absolute;
    right: -300px;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    width: 130px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #ECF3FF;
    color: #1877f2;
    font-size: 16px;
    transition: filter 0.2s;
}

h1 button:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.profile-friend-request-container {
    background-color: white;
    margin: 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 870px;
    padding: 10px 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.profile-friend-request-container button {
    width: 160px;
    height: 40px;
    border-radius: 6px;
    background-color: #ECF3FF;
    color: #1877f2;
    outline: none;
    border: none;
    font-weight: 650;
    font-size: 15px;
    transition: filter 0.2s;
}
.profile-friend-request-container button:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.profile-confirm-delete-request {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 310px;
}

.profile-confirm-delete-request button{
    width: 140px;
    font-size: 14px;
}

.profile-photos-friends-container{
    width: 40%;
    margin: 12px 12px 12px 0;
    display: flex;
    flex-direction: column;
}
.profile-background-image{
    position: relative;
}
.profile-background-image img{
        height: 355px;
        width: 950px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}

.default-background {
    background-color: #f2f2f2;
    height: 355px;
    width: 950px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pfp-upload-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
    position: absolute;
    bottom: 10px;
    right: 3px;
    background-color: #f2f2f2;
    transition: filter 0.2s;
}

.pfp-upload-input:hover, .wallpaper-upload-input:hover {
    cursor: pointer;
    filter: brightness(94%);
}

.wallpaper-upload-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    color: black;
    height: 40px;
    width: 150px;
    margin-bottom: 5px;
    position: absolute;
    border-radius: 6px;
    bottom: 10px;
    right: 10px;
    background-color: #f2f2f2;
    padding: 5px;
    transition: filter 0.2s;
}

.wallpaper-upload-input p{
    font-size: 13px;
    font-weight: 600;
}