.search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* box-sizing: border-box; */
    padding: 5px;
    border-radius: 6px;
    background-color: white;
}
.search-item:hover {
    background-color: hsl(0, 0%, 85%);
    cursor: pointer;
}
.search-item .search-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-item a {
    width: 80%;
}