.splash-container {
    background-color: #f2f2f2;
    height: 720px;
    position: relative;
    padding: 50px;
    box-sizing: border-box;
}
.splash-container .login-form-container {
    width: 396px;
    height: 456px;
    padding: 20px 0 28px;
    display: block;
    box-sizing: border-box;
}

.splash-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    margin: 50px auto;
}
.splash-greeting {
    margin-top: 100px;
    width: 500px;
}
.splash .etc-footer {
    width: 1100px;
    height: 156px;
    background: white;
    margin: 20px auto;
}
.etc-footer .separator{
    width: 50%;
    margin-top: 15px;
}